body{
    background-color: #222;
    height: 97.8vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;    
    
}
.box{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 500px;
    background-color: rgb(223, 223, 76);
    border-radius: 20px;    
}

